#home-faq {
  section {
    background-image: image-url('faq-bg.svg'), linear-gradient(180deg, #FFFFFF 0%, #D9F4FF 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0;

    .leading {
      margin-bottom: 36px;
    }
  }

  .card {
    background: #FFFFFF;
    border: 1px solid #B1EEFF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 24px;
    padding-bottom: 16px;

    .card-header {
      background: none;
      border-bottom: none;
      padding: 0;

      button {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        -webkit-box-pack: justify;
        text-decoration: none;
        color: #0D3857;

        .expand {
          display: block;
        }

        .expanded {
          display: none;
        }

        &[aria-expanded='true'] {
          color: #0A98C1;

          .expanded {
            display: block;
          }

          .expand {
            display: none;
          }
        }

        > span {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .card-body {
      padding: 24px 0;
      padding-bottom: 0;

      %p {
        color: #0D3857;
      }
    }
  }

  @media (max-width: 575px) {
    section {
      background-image: image-url('faq-bg-mobile.svg'), linear-gradient(180deg, #E7F8FF 0%, #FFFFFF 47.92%, #D2F2FF 100%);

      .leading {
        font-size: 32px;
        line-height: 48px;
      }
    }
  }
}
