#home-index {
  .heading.holding-page {
    height: 100vh;
    margin: 0;
  }

  font-family: 'Poppins', sans-serif;
  color: #0D3857;
  .heading {
    margin-top: -22px;
    background-image: image-url('home-heading-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .content {
      padding: 68px 0;
      .welcome {
        color: #ABEBFF;
        font-weight: 300;
        font-size: 38px;
      }
      .logo-slogan {
        padding: 28px 0 48px 0;
      }
      .leading {
        font-weight: 500;
        font-size: 20px;
        padding: 0 10px;
      }
    }
  }

  .introduction {
    background-image: image-url('intro-mb.svg'), linear-gradient(180deg, #E7F8FF 0%, #FFFFFF 47.92%, #D2F2FF 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 68px;
    padding-bottom: 68px;

    .offer {
      background-color: #0D3857;
      border-top: 4px solid #0A98C1;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-top: 68px;
      margin-bottom: 48px;
      padding-bottom: 36px;
      padding-top: 36px;
      .this-row {
        justify-content: space-evenly;
        flex: 1;
      }
      &-top {
        margin-top: 24px;
      }
      &-bottom {
        margin: 36px 0;
      }
      &-content {
        width: 50%;
        float: left;
        span {
          font-weight: 500;
        }
      }
      &-leading-left, &-leading-right {
        color: #B4DFFF;
      }
      img {
        margin-bottom: 4px;
        width: 60px;
      }
    }

    img.profile {
      margin-bottom: 48px;
    }

    .caree-coach-leading {
      margin-bottom: 24px;
    }
    .career-coach-item {
      margin-bottom: 36px;
    }

    .dash {
      height: 2px;
      width: 28px;
      background-color: #0D3857;
      margin: 0 10px;
    }

    .subject {
      padding: 5px 0;
      margin-bottom: 20px;
      width: 100%;
      font-weight: 600;
      &.odd {
        background: rgba(10, 152, 193, 0.1);
        color: #0A98C1;;
      }
      &.even {
        background: rgba(45, 181, 179, 0.1);
        color: #2DB5B3;
      }
    }

    .about-me-link {
      a {
        background: #2DB5B3;
        padding: 15px 70px;
        width: 100%;
        margin-top: 48px;
      }
    }
  }

  .podcast {
    background-image: image-url('podcast-bg.jpg');
    padding-top: 68px;
    padding-bottom: 88px;
    .podcast-leading {
      margin-bottom: 36px;
      line-height: 36px;
    }
    &-item {
      border: 1px solid #cacaca;
      border-radius: 4px;
      padding: 20px;
      &.first {
        margin-bottom: 28px;
      }
    }
    .podcast-item-heading {
      p {
        margin-bottom: 0;
      }
      .media {
        width: 80px;
        height: 80px;
        margin-right: 10px;
      }
      .sub-title {
        color: #ADDDFF;
      }
      .date {
        padding-top: 8px;
        color: #2DB5B3;
      }
    }
  }

  .consultation {
    background-image: image-url('consultation-mb.svg'), linear-gradient(180deg, #FFFFFF 0%, #D9F4FF 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 88px 0;
    .leading {
      color: #0A98C1;
      margin-bottom: 24px;
      line-height: 38px;
      font-size: 36px;
      &-sub {
        margin-bottom: 36px;
        line-height: 30px;
      }
      &-sub-p {
        font-weight: 500;
      }
    }
    .statement {
      .left, .right {
        .statement-item {
          padding: 20px 0;
          .order {
            background: #0A98C1;
            min-width: 30px;
            max-height: 30px;
            margin-right: 8px;
            margin-left: 8px;
          }
        }
      }
      
      .left .statement-item:nth-child(2n), .right .statement-item:nth-child(2n + 1) {
        background: rgba(10, 152, 193, 0.3);
      }

      @media (max-width: 575px) {
        .statement-item {
          background: transparent !important;
        }

        .statement-item:nth-child(2n) {
          background: rgba(10, 152, 193, 0.3) !important;
        }
      }

      .right {
        .statement-item:last-child {
          border-bottom: 0;
        }
      }
    }
    &-schedule {
      padding-top: 48px;
      .quote {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .people-org {
    background-image: image-url('cloud-mb.png'), linear-gradient(180deg, #D2F2FF 0%, #F0FBFF 17.19%, #FFFFFF 61.46%, #D8F1FC 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 88px;
    .leading {
      margin-bottom: 48px;
      font-size: 32px;
      line-height: 48px;
    }
    &-item-container:not(:last-child) {
      margin-bottom: 24px;
    }
    &-item {
      padding: 20px;
      box-shadow: 0px 4px 15px rgba(77, 173, 227, 0.25);
      .name {
        font-weight: 600;
      }
      p {
        margin-bottom: 0;
      }
      .media {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        img {
          object-fit: cover;
        }
      }
      .comment {
        padding-top: 16px;
        font-size: 14px;
      }
    }
    .get-in-touch {
      padding-top: 68px;
      margin-bottom: 36px;
      font-size: 32px;
    }

    .contact {
      &-info-content {
        padding: 20px 5px;
        .name {
          margin-top: 24px;
        }
      }
      &-info {
        background-image: image-url('contact-mb.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-left: 15px;
        margin-right: 15px;
        &-content {
          color: #fff;
          .leading {
            margin-bottom: 36px;
          }
          .contact-icon {
            margin-right: 15px;
          }
          div {
            margin-top: 24px;
          }
          .follow-us {
            margin-top: 36px;
          }
          .socials {
            img {
              margin-right: 20px;
            }
          }
        }
      }
    }
    .img-cities {
      margin-top: 88px;
    }
  }
  .products-services {
    background-image: image-url('home-products-services-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 68px 0;
    .leading {
      font-size: 32px;
    }
    .leading-individual, .leading-org {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 24px;
    }
    .leading-individual {
      margin-top: 48px;
    }
    .leading-org {
      margin-top: 68px;
    }
    &-item:not(:last-child) {
      margin-bottom: 36px;
    }
    .card {
      padding: 10px;
      img {
        height: 146px;
        object-fit: cover;
        &.org {
          height: 200px;
        }
      }
      &-title {
        font-size: 16px;
        font-weight: 600;
      }
      &-body {
        ul {
          padding-left: 16px;
        }
        &-individual {
          padding-top: 16px;
          p {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
      a {
        background-color: #2DB5B3;
      }
    }
  }

  @media (min-width: 768px) {
    .heading {
      .content {
        .leading {
          font-size: 24px;
        }
      }
    }
    .introduction {
      background-image: image-url('home-intro-bg.svg'), linear-gradient(180deg, #FFFFFF 0%, #D9F4FF 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 88px;
      .offer {
        padding-bottom: 20px;
        padding-top: 0;
        &-top {
          margin-top: 0;
        }
        &-bottom {
          margin: 0;
        }
        &-content {
          margin-top: -32px;
        }
        &-leading-left {
          margin-right: 75px;
        }
        &-leading-right {
          margin-left: 75px;
        }
      }
      .career-coach-item {
        margin-bottom: 20px;
      }
      .subject {
        min-width: 190px;
        max-width: 190px;
        margin-bottom: 0;
      }
      .about-me-link {
        a {
          width: auto;
        }
      }
    }

    .podcast {
      &-item {
        &.first {
          margin-bottom: 0;
        }
      }
    }

    .consultation {
      background-image: image-url('consultation.svg'), linear-gradient(180deg, #FFFFFF 0%, #D9F4FF 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .leading {
        &-sub {
          margin-bottom: 48px;
        }
      }
      .statement {
        .left, .right {
          .statement-item:last-child {
            border-bottom: 0;
          }
        }
      }
      &-schedule {
        .quote {
          font-size: 24px;
          line-height: 36px;
        }
      }
    }

    .products-services {
      .leading {
        font-size: 36px;
      }
      .leading-individual, .leading-org {
        text-align: left;
        font-size: 24px;
        font-weight: 400;
      }
      .card {
        img {
          height: 106px;
          &.org {
            height: 100%;
          }
        }
      }
      .organisations {
        a {
          min-width: 233px;
        }
      }
    }

    .people-org {
      background-image: image-url('home-cloud-bg.jpg'), linear-gradient(180deg, #D2F2FF 0%, #F0FBFF 17.19%, #FFFFFF 61.46%, #D8F1FC 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .leading {
        font-size: 36px;
      }
      .get-in-touch {
        padding-top: 88px;
        margin-bottom: 24px;
        font-size: 36px;
      }
      .contact {
        &-message {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          &-content {
            border-top-right-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            &-title {
              font-size: 24px;
            }
          }
        }
        &-info {
          background-image: image-url('home-contact-info.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          margin-left: -15px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 0;
        }
        &-info-content {
          .name {
            margin-top: 36px;
          }
        }
      }
    }
  }
}
