#home-job_market_index {
  $standard: #0A98C1;
  $premium: #2DB5B3;
  $dark-blue: #062E4B;
  $light-blue: #0D3857;
  $figure-green: #41FFA4;
  $figure-red: #FF7575;

  color: $light-blue;

  .heading {
    padding-top: 48px;
    background-image: image-url('job-market-index-bg-mb.svg'), linear-gradient(180deg, #FFFFFF 0%, #D2F2FF 100%);

    img.job-index {
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .sectors {
      margin-top: 10px;
    }
  }
  
  .leading {
    font-size: 32px;
    font-weight: 300;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .sectors {
    &-item {
      margin-bottom: 36px;
      &:last-child {
        margin-bottom: 0;
      }
      &-header {
        background-color: $standard;
        font-size: 20px;
        color: #fff;
        font-weight: 600;
      }
      &-content {
        background-color: $light-blue;
        padding: 20px;
        &-media {
          padding: 15px;
          background-color: $standard;
          margin-right: 20px;
          &.premium {
            background-color: $premium;
            height: 70px;
            width: 70px;
          }
        }
        &-figure {
          background-color: $dark-blue;
          span {
            font-weight: 600;
            font-size: 42px;
            &.up {
              color: $figure-green;

              &.blue {
                color: #0A98C1;
              }
            }
            &.down {
              color: $figure-red;
            }
          }
        }
      }
    }
  }

  .what-is-job-index {
    font-weight: 300;
    margin-top: 68px;
    font-size: 32px;
    margin-bottom: 36px;
  }
  .job-market-index-intro {
    margin-bottom: 88px;
    &-content {
      margin-right: 0;
      line-height: 26px;
      .line-height-normal {
        line-height: normal;
      }
    }
  }
}

@media (min-width: 768px) {
  #home-job_market_index {
    .heading {
      background-image: image-url('job-market-index-bg.svg'), linear-gradient(180deg, #FFFFFF 0%, #D2F2FF 100%);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .sectors {
      &-item {
        &-content {
          &-media {
            &.premium {
              height: auto;
              width: auto;
            }
          }
        }
      }
    }
    .job-market-index-intro {
      margin-bottom: 88px;
      &-content {
        margin-right: 30px;
        line-height: 26px;
      }
    }
  }
}
