.btn.btn-schedule-meeting {
  background-color: #2DB5B3;
  margin-top: 36px;
  padding: 15px 60px;

  @media (max-width: 575px) {
    padding: 16px;
  }
}

@media (min-width: 576px) {
  .nav-link.active span {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 4px;
      left: 0;
      right: 0;
      top: 42px;
      background: #2DB5B3;
    }

    &.two-lines:before {
      top: 51px;
    }
  }
}
