#home-sitemap {
  .sitemap-container {
    background-image: image-url('faq-bg.svg'), linear-gradient(180deg, #FFFFFF 0%, #D9F4FF 100%);
    background-repeat: no-repeat;
    background-size: cover;
    a {
      color: #0D3857;
      text-decoration: none;
      &:hover {
        color: #2DB5B3;
      }
    }
  }
  
  @media (max-width: 575px) {
    .sitemap-container {
      background-image: image-url('faq-bg-mobile.svg'), linear-gradient(180deg, #E7F8FF 0%, #FFFFFF 47.92%, #D2F2FF 100%);
    }
  }
}