/* line 9, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

/* line 16, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

/* line 24, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 30, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%;
}

/* line 35, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 41, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

/* line 47, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h1, .h1 {
  font-size: 36px;
}

/* line 48, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h2, .h2 {
  font-size: 30px;
}

/* line 49, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h3, .h3 {
  font-size: 24px;
}

/* line 50, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h4, .h4 {
  font-size: 18px;
}

/* line 51, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h5, .h5 {
  font-size: 14px;
}

/* line 52, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
h6, .h6 {
  font-size: 12px;
}

/* line 58, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
p {
  margin: 0 0 10px;
}

/* line 62, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

@media (min-width: 768px) {
  /* line 62, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
  .lead {
    font-size: 21px;
  }
}

/* line 78, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
small,
.small {
  font-size: 85%;
}

/* line 82, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
cite {
  font-style: normal;
}

/* line 84, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}

/* line 91, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.text-left {
  text-align: left;
}

/* line 92, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.text-right {
  text-align: right;
}

/* line 93, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.text-center {
  text-align: center;
}

/* line 94, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.text-justify {
  text-align: justify;
}

/* line 97, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.text-muted {
  color: #999999;
}

/* line 5, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_text-emphasis.scss */
.text-primary {
  color: #428bca;
}

/* line 8, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_text-emphasis.scss */
a.text-primary:hover {
  color: #3071a9;
}

/* line 5, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_text-emphasis.scss */
.text-success {
  color: #3c763d;
}

/* line 8, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_text-emphasis.scss */
a.text-success:hover {
  color: #2b542c;
}

/* line 5, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_text-emphasis.scss */
.text-info {
  color: #31708f;
}

/* line 8, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_text-emphasis.scss */
a.text-info:hover {
  color: #245269;
}

/* line 5, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_text-emphasis.scss */
.text-warning {
  color: #8a6d3b;
}

/* line 8, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_text-emphasis.scss */
a.text-warning:hover {
  color: #66512c;
}

/* line 5, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_text-emphasis.scss */
.text-danger {
  color: #a94442;
}

/* line 8, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_text-emphasis.scss */
a.text-danger:hover {
  color: #843534;
}

/* line 114, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.bg-primary {
  color: #fff;
}

/* line 5, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_background-variant.scss */
.bg-primary {
  background-color: #428bca;
}

/* line 8, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_background-variant.scss */
a.bg-primary:hover {
  background-color: #3071a9;
}

/* line 5, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_background-variant.scss */
.bg-success {
  background-color: #dff0d8;
}

/* line 8, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_background-variant.scss */
a.bg-success:hover {
  background-color: #c1e2b3;
}

/* line 5, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_background-variant.scss */
.bg-info {
  background-color: #d9edf7;
}

/* line 8, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_background-variant.scss */
a.bg-info:hover {
  background-color: #afd9ee;
}

/* line 5, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_background-variant.scss */
.bg-warning {
  background-color: #fcf8e3;
}

/* line 8, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_background-variant.scss */
a.bg-warning:hover {
  background-color: #f7ecb5;
}

/* line 5, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_background-variant.scss */
.bg-danger {
  background-color: #f2dede;
}

/* line 8, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_background-variant.scss */
a.bg-danger:hover {
  background-color: #e4b9b9;
}

/* line 133, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

/* line 144, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 148, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/* line 157, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none;
}

/* line 163, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.list-inline {
  margin-left: -5px;
}

/* line 167, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 175, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
dl {
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 179, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
dt,
dd {
  line-height: 1.428571429;
}

/* line 183, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
dt {
  font-weight: bold;
}

/* line 186, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
dd {
  margin-left: 0;
}

/* line 14, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_clearfix.scss */
.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}

/* line 19, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_clearfix.scss */
.dl-horizontal dd:after {
  clear: both;
}

@media (min-width: 768px) {
  /* line 201, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 208, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

/* line 219, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

/* line 225, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 231, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}

/* line 240, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

/* line 247, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.428571429;
  color: #999999;
}

/* line 255, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

/* line 264, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}

/* line 276, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}

/* line 277, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

/* line 284, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
blockquote:before,
blockquote:after {
  content: "";
}

/* line 290, app/assets/stylesheets/bootstrap-3.1.1.1/_type.scss */
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.428571429;
}

/* line 10, app/assets/stylesheets/pdf.css.scss */
body {
  position: relative;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #696969;
}

/* line 17, app/assets/stylesheets/pdf.css.scss */
body .address-wrapper, body #content {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 22, app/assets/stylesheets/pdf.css.scss */
body .data-details {
  padding-left: 0;
  padding-right: 0;
}

/* line 28, app/assets/stylesheets/pdf.css.scss */
.invoice-bg {
  display: block;
  position: fixed;
  left: 0;
  top: 700px;
  width: 100%;
  object-fit: contain;
}

/* line 37, app/assets/stylesheets/pdf.css.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 42, app/assets/stylesheets/pdf.css.scss */
#header {
  display: block;
  position: relative;
  width: 100%;
}

/* line 47, app/assets/stylesheets/pdf.css.scss */
#header .logo {
  width: auto;
  position: absolute;
  right: 30px;
  margin: 0;
  top: 6px;
}

/* line 54, app/assets/stylesheets/pdf.css.scss */
#header .logo-text {
  display: block;
  position: absolute;
  left: 30px;
  margin: 0;
  font-size: 48px;
  font-weight: 300;
  top: 5px;
}

/* line 65, app/assets/stylesheets/pdf.css.scss */
.address-wrapper {
  position: relative;
}

/* line 68, app/assets/stylesheets/pdf.css.scss */
.address-wrapper .payment-method {
  position: absolute;
  left: 30px;
  min-width: 150px;
  top: 80px;
}

/* line 75, app/assets/stylesheets/pdf.css.scss */
.address-wrapper .sub-title {
  font-size: 24px;
}

/* line 79, app/assets/stylesheets/pdf.css.scss */
.address-wrapper .company-info {
  position: absolute;
  right: 30px;
  top: 80px;
}

/* line 84, app/assets/stylesheets/pdf.css.scss */
.address-wrapper .company-info p {
  text-align: right;
}

/* line 90, app/assets/stylesheets/pdf.css.scss */
#payment-info {
  position: relative;
}

/* line 93, app/assets/stylesheets/pdf.css.scss */
#payment-info .footer-right {
  position: absolute;
  top: 0;
  left: 560px;
}

/* line 98, app/assets/stylesheets/pdf.css.scss */
#payment-info .footer-right label {
  display: inline-block;
  width: 135px;
}

/* line 105, app/assets/stylesheets/pdf.css.scss */
#content {
  clear: both;
  padding-top: 178px;
}

/* line 110, app/assets/stylesheets/pdf.css.scss */
.recipient-info {
  position: relative;
}

/* line 113, app/assets/stylesheets/pdf.css.scss */
.recipient-info > p {
  max-width: 290px;
}

/* line 117, app/assets/stylesheets/pdf.css.scss */
.recipient-info .data-brief {
  position: absolute;
  top: 0px;
  left: 300px;
}

/* line 122, app/assets/stylesheets/pdf.css.scss */
.recipient-info .data-brief label {
  display: inline-block;
  width: 135px;
  text-align: right;
  margin-right: 10px;
}

/* line 131, app/assets/stylesheets/pdf.css.scss */
.data-details {
  margin: 40px 0;
  clear: both;
}

/* line 136, app/assets/stylesheets/pdf.css.scss */
table {
  width: 100%;
  table-layout: fixed;
  padding: 0 30px;
}

/* line 141, app/assets/stylesheets/pdf.css.scss */
table th, table td {
  text-align: left;
  vertical-align: top;
}

/* line 144, app/assets/stylesheets/pdf.css.scss */
table th.price, table td.price {
  text-align: right;
}

/* line 147, app/assets/stylesheets/pdf.css.scss */
table th.description, table td.description {
  width: 60%;
  white-space: pre-line;
  overflow: hidden;
}

/* line 153, app/assets/stylesheets/pdf.css.scss */
table th.sub-total, table td.sub-total {
  text-align: right;
}

/* line 158, app/assets/stylesheets/pdf.css.scss */
.strong-label {
  font-weight: bold;
}

/* line 163, app/assets/stylesheets/pdf.css.scss */
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 170, app/assets/stylesheets/pdf.css.scss */
.dl-horizontal dd {
  margin-left: 180px;
}

/* line 14, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_clearfix.scss */
.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}

/* line 19, app/assets/stylesheets/bootstrap-3.1.1.1/mixins/_clearfix.scss */
.dl-horizontal dd:after {
  clear: both;
}

/* line 176, app/assets/stylesheets/pdf.css.scss */
tr, td, th, .align-bottom tbody, .align-bottom table, thead, tfoot {
  page-break-inside: avoid;
}

/* line 180, app/assets/stylesheets/pdf.css.scss */
.align-bottom {
  page-break-inside: avoid;
  width: 100%;
}

/* line 185, app/assets/stylesheets/pdf.css.scss */
#footer {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

/* line 190, app/assets/stylesheets/pdf.css.scss */
.vat-info {
  margin-top: 20px;
}

/* line 193, app/assets/stylesheets/pdf.css.scss */
.terms-info {
  padding-left: 23px;
}

/* line 197, app/assets/stylesheets/pdf.css.scss */
.pdf-pagination {
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
}
