@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.btn.shadow {
  background: #2DB5B3;
  border: 1px solid #129C9A;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) !important;
}

.card {
  padding: 10px;
}

.card.shadow {
  border: none;
  box-shadow: 0px 4px 15px rgba(77, 173, 227, 0.25);
}

.leading {
  color: #0A98C1;
  font-size: 2.25rem;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.font-size-24 {
  font-size: 1.5rem !important;
  line-height: 2.25rem !important;
}

.font-size-36 {
  font-size: 2.25rem !important;
  line-height: 3.38rem !important;
}

#home-job_market_index {
  color: #0D3857;
}

.heading {
  padding-top: 20px;
  background-image: url(/assets/job-market-index-bg-mb-def6f26d97fde558986030b758fada8d26c5a2eb55bf114f85ad1f5d498855e1.svg), linear-gradient(180deg, #FFFFFF 0%, #D2F2FF 100%);
}

.leading.date {
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0;
}

.heading img.job-index {
  height: 50px;
  margin-top: 0;
}

.heading .sectors {
  margin-top: 10px;
}

.heading.for-img {
  padding: 30px;
}

.heading.for-img .container {
  max-width: 100%;
}

.heading.for-img .sectors {
  width: 100%;
  text-align: center;
}

.heading.for-img .sectors .sectors-item {
  width: 240px;
  margin-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.heading.for-img .sectors .sectors-item .sectors-item-header {
  padding: 5px;
}

.heading.for-img .sectors .sectors-item .sectors-item-content {
  padding: 5px;
}

.heading.for-img .sectors .sectors-item .sectors-item-content-media,
.heading.for-img .sectors .sectors-item .sectors-item-content-figure {
  display: inline-block !important;
  vertical-align: top;
}

.heading.for-img .sectors .sectors-item .sectors-item-content-media img {
  margin: 0;
  width: 30px;
  height: 30px;
}

.heading.for-img .sectors .sectors-item .sectors-item-content-figure {
  width: 180px;
  padding: 9px 0;
  margin-left: auto;
}

.heading.for-img .sectors .sectors-item .sectors-item-content-figure .ml-2 {
  margin-left: 10px !important;
}

.heading.for-img .sectors .sectors-item .sectors-item-content-figure img {
  height: 20px;
}

.heading.for-img .sectors .sectors-item .sectors-item-content-figure img,
.heading.for-img .sectors .sectors-item .sectors-item-content-figure span {
  vertical-align: middle;
}

.heading.for-img .sectors .sectors-item.last-item {
  width: 480px !important;
  margin: 0 auto;
}

.heading.for-img .sectors .sectors-item.last-item .sectors-item-content-media img {
  margin: 0;
  width: 60px;
  height: 60px;
}

.heading.for-img .sectors .sectors-item.last-item .sectors-item-content-figure {
  width: 390px;
  padding: 23px 0;
}

.leading {
  font-size: 16px;
  font-weight: 300;
}

.sectors-item {
  margin-bottom: 36px;
}

.sectors-item:last-child {
  margin-bottom: 0;
}

.sectors-item-header {
  background-color: #0A98C1;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.sectors-item-content {
  background-color: #0D3857;
  padding: 20px;
}

.sectors-item-content-media {
  padding: 5px;
  padding-bottom: 0;
  background-color: #0A98C1;
}

.sectors-item-content-media.premium {
  background-color: #2DB5B3;
}

.sectors-item-content-figure {
  background-color: #062E4B;
}

.sectors-item-content-figure span {
  font-weight: 600;
}

.sectors-item-content-figure span.up {
  color: #41FFA4;
}

.sectors-item-content-figure span.up.blue {
  color: #0A98C1;
}

.sectors-item-content-figure span.down {
  color: #FF7575;
}

.what-is-job-index {
  font-weight: 300;
  margin-top: 68px;
  font-size: 32px;
  margin-bottom: 36px;
}

.job-market-index-intro {
  margin-bottom: 88px;
}

.job-market-index-intro-content {
  margin-right: 0;
  line-height: 26px;
}

.footer {
  margin-top: 50px;
}