body[id^='checkout-'] {
  section {
    background-image: image-url('blog-bg.svg'), linear-gradient(180deg, #FFFFFF 0%, #D9F4FF 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
}