$navbar-light-active-color: #2DB5B3;

.arrow-upward {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  text-align: right;
  right: 50px;

  img {
    cursor: pointer;
    width: 65px;
    height: 65px;
  }
}

footer {
  background-color: #0D3857;
  padding: 36px 0;
  text-align: center;
  .justify-content-evenly {
    justify-content: space-evenly;
  }
  a {
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
    &.active {
      color: $navbar-light-active-color;
    }
    &:hover {
      text-decoration: none;
      color: $navbar-light-active-color;
    }
  }
  .footer-item-container {
    margin-bottom: 20px;
  }
  .copy-right {
    font-size: 12px;
    font-weight: 300;
    margin-top: 13px;
  }

  .text-active {
    color: $navbar-light-active-color;
  }
}

@media (min-width: 768px) {
  footer {
    text-align: left;
    .footer-item-container {
      margin-bottom: 0;
      &:last-child {
        z-index: 1;
      }
    }
  }
}
