body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.form-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: 0 0;
  position: relative;
  z-index: 1;
  text-align: center;

  #progress-bar {
    display: none;
    height: 24px;
    background-color: #f1f1f1;
    
    .loading-bar {
      height: 100%;
      width: 0%;
      background-color: #57b846;
    }
  }

  #suggess-message {
    display: none;
    color: #57b846;
  }

  .logo {
    max-width: 200px;
    height: auto;
  }

  .card {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 62px 55px 65px;

    .dropzone {
      border: 1px solid #e6e6e6;

      .dz-message {
        color: #1b3815;
      }
    }

    form {
      width: 100%;

      .title {
        display: block;
        font-size: 30px;
        color: #333;
        line-height: 1.2;
        text-align: left;
        padding-bottom: 30px;
      }

      .actions {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        text-align: right;
        flex-wrap: wrap;
        margin-bottom: 25px;
        justify-content: flex-end;

        .btn {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 20px;
          min-width: 160px;
          height: 42px;
          background-color: #57b846;
          font-size: 14px;
          color: #fff;
          line-height: 1.2;
          text-transform: uppercase;
          padding-top: 5px;
          -webkit-transition: all .4s;
          -o-transition: all .4s;
          -moz-transition: all .4s;
          transition: all .4s;
          border-color: #57b846;
          margin: 0;

          &:disabled {
            cursor: not-allowed;
            opacity: .65;
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }

      div.input {
        width: 100%;
        position: relative;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        margin-bottom: 30px;
        display: flex;

        &.upload_form_files {
          padding: 10px 0;

          input {
            height: auto;
          }
        }

        label.error {
          position: absolute;
          left: 0;
          color: red;
          bottom: -25px;
        }

        input, select {
          height: 62px;
          padding: 0 20px 0 23px;
          display: block;
          width: 100%;
          background: 0 0;
          font-size: 15px;
          color: #1b3815;
          line-height: 1.2;
          max-width: 100%;
          outline: none;
          border: none;
        }

        textarea {
          max-width: 100%;
          padding: 19px 20px 0 23px;
          display: block;
          width: 100%;
          background: 0 0;
          font-size: 15px;
          color: #1b3815;
          line-height: 1.2;
          outline: none;
          border: none;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .form-wrapper {
    padding: 0;

    .card {
      padding: 10px 15px 65px;

      form div.input {
        input, select {
          height: 40px;
        }
      }
    }
  }
}
